.modal-wrapper {
  position: fixed;
  left: 10%;
  top: 35%;
  /* transform: translate(-50%, 0); */
  width: 80%;
  height: 25%;
  background-color: white;
  z-index: 100;
  border-radius: 10px;
  transition: all 4.3s ease-out;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  font-weight: 700;
}
